<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Books' Authors</title>
  <meta name="description" content="Data about the books' authors" />
  <meta name="category" content="Education" />
  <meta name="keywords" content="authors, books, literature, education" />
  <meta http-equiv="Content-Language" content="English" />
  <meta name="publication_date" content="2023-10-30" />
  <meta name="update_frequency" content="undefined" />
  <meta name="version" content="1.0" />
  <meta name="author" content="Tomislav Kožul" />
  <meta name="contact" content="tk53406@fer.hr" />
  <meta name="license" content="CC0 1.0 Universal" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">

  <h1 class="site_title">PAGE NOT FOUND</h1>

      <div class="user_data_container">
        <h3 class="site_description" style="display: block;">Looks like you got lost. Return to index page.</h3>
        <button onclick="showIndex()" class="blue_button small_button">INDEX</button>
      </div>
    </div>
    </body>
  </div>

  <h3 class="site_description" id="error_field"></h3>

</div>
<script src="/js/logic.js" defer></script>
</body>
</html>